<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>{{title}}</title>
    {% block extra_meta %}{% endblock %}
    <link rel="stylesheet" href="{% static 'yinode/css/layout.css' %}" />
    {% block extra_head %}{% endblock %}
    {% block extra_style %}{% endblock %}
    {% block extra_script %}{% endblock %}
</head>
<body>
    {% block header %}
    <div class="header">

    </div>
    {% endblock %}

    {% block content%}

    {% endblock %}

    {% block footer %}
    <div class="footer">

    </div>
    {% endblock %}
    {% block foot_script %}
    <script src="{% static 'yinode/js/jquery-1.11.1.min.js' %}"></script>
    <script src="{% static 'yinode/js/layout.js' %}"></script>
    {% endblock %}
    {% block extra_foot_script %}{% endblock %}
</body>
</html>